<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.yohannestz.chapakt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ChapaActivity"
            android:theme="@style/Theme.ChapaKt.NoActionBar"
            android:exported="false" />
    </application>

</manifest>